<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <div  class="row">
    <form ng-submit="search(searchString)">
      
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Tapez ici votre recherche" ng-model="searchString" ng-disabled="loading">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit"  ng-disabled="loading">Recherche </button>
        </span>
      </div>
    </form>
  </div>
  <div class="recipe-container row">
    <div ng-repeat="recipe in recipes track by $index" class="recipe circle-anim" ng-click="open(recipe)">
      <div class="card" ng-style="getStyleFor(recipe)">
        <div class="bigdetails" ng-style="getBigDetailsFor(recipe)"></div>
      </div>
      <!--           <h1>{{recipe._id}}</h1>
      <h2>{{recipe._source.checksum}}</h2>
      -->          <!-- <img ng-src="/api/searchs/images/{{recipe._source.checksum}}?quality=l"/> -->
      
      <pre>{{recipe._source.content}}</pre>
      <!-- {{recipe}} -->
      
      
    </div>

  <div class="card" ng-if="loading" class="circle-anim">
      <div class="jumbotron">
        <p>Chargement...
        </p></div>
      </div>
    </div>

    <div class="card" ng-if="!searchString">
      <div class="jumbotron">
        <p>Que souhaitez vous rechercher aujourd'hui ? :)
        </p></div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <p>Quick cooking v3.0 |
        <a href="https://github.com/xblaster">@xblaster</a> |
        
      </div>
    </footer>