.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.navbar-text {
  margin-left: 15px;
}

.recipe-container {
    display: flex;
    flex-wrap: wrap;
}

.recipe {
    width: 50%;
    

    .card {
        background-color: white;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
        margin: 0.3em;
        position: relative;
    }

    .bigdetails {
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
    }
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #EEE;
}

/** circle animation **/

.circle-anim {
    will-change: transform;
}

.circle-anim.ng-leave {
    animation: circleFade 800ms cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-animation: circleFade 800ms cubic-bezier(0.23, 1, 0.32, 1);
}

.circle-anim.ng-enter {

    animation: circleAppear 800ms cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-animation: circleAppear 800ms cubic-bezier(0.23, 1, 0.32, 1);
}

.circle-anim.ng-enter-stagger {
  -webkit-animation-delay:0.1s;
  animation-delay:0.1s;
  -webkit-animation-duration: 0s;
  animation-duration: 0s;

}

@keyframes circleAppear {
    from {
        -webkit-clip-path: circle(0px at 50% -5%);
        clip-path: circle(0px at 50% -5%);
        transform: translateY(-10px);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    to {
        -webkit-clip-path: circle(150% at 50% 50%);
        clip-path: circle(150% at 50% 50%);
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes circleFade {
    from {
        -webkit-clip-path: circle(150% at 50% 50%);
        clip-path: circle(150% at 50% 50%);
        transform: translateY(0px);
        opacity: 1;
    }
    to {
        -webkit-clip-path: circle(0px at 50% -5%);
        clip-path: circle(0px at 50% -5%);
        transform: translateY(-10px);
        opacity: 0;
    }
}